.services_container {
  background-image: url("https://images.unsplash.com/photo-1647177031060-ad5a5feee491?q=80&w=2759&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}
